[Unit]
Description=Start novnc at startup.
After=multi-user.target

[Service]
Type=simple
ExecStart=/bin/bash -c ' cd /root/noVNC && ln -s vnc_auto.html index.html && ./utils/launch.sh --vnc localhost:5900 '
Restart=always

[Install]
WantedBy=multi-user.target
