[Unit]
Description=Start x11vnc at startup.
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/x11vnc -display :1 -xkb -forever -shared -repeat

[Install]
WantedBy=multi-user.target
